body {
  width: 275px;
  height: 275px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #17315b;
  padding: 0.5em;
}

form {
  text-align: center;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  width: 100%;
  margin: 0.5em auto;
  display: inline-block;
  border: 1px solid #c7dbe9;
  box-sizing: border-box;
  background: white;
  border-radius: 3px;
  color: #17315b;
  padding: 0.5em;
}

button:hover {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 2pt 2pt #c7dbe9;
}